* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: url(../images/paper.png)
}


.header_text {
    font: 70px 'Comfortaa', sans-serif;
    font-weight: bolder;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    min-width: 900px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header_text span.extension {
    font-weight: 300;
    color: rgb(173, 173, 173);
    font-size: 1px;
    margin: -15px;
    opacity: 0;
    -webkit-transition: font-size 0.5s, margin 0.5s, opacity 0.5s;
    transition: font-size 0.5s, margin 0.5s, opacity 0.5s;
}

.header_text:hover span.extension {
    font-size: 60px;
    margin: 0 0 0 -19px;
    opacity: 1;
}
